.navbarUnder {
  width: 100%;
  height: 200px;
  max-width: 800px;
  border: 1px solid black;
  border-left: none;
  position: relative;
  overflow: hidden;
}

.navbarUnder img {
  min-width: 800px;
  height: 100%;
  position: absolute;
}
.mainContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  max-width: 760px;
}

@media only screen and (max-width: 768px) {
  .navbarUnder {
    display: none;
  } /* Inserta aquí los estilos específicos para móviles */
}
