.navbarContainer {
  background-color: white;
  width: 100%;
}

.navbar {
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.navbarMobile {
  display: none;
}

.navbarButtons {
  text-decoration: none;
  color: black;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.navbarButtonsActivo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  background-color: black;
}

.navbarButtons:not(:first-of-type) {
  border-left: 1px solid black;
}

.navbarButtons:hover {
  background-color: black;
  color: white;
}

.navbarButton {
  display: none;
}

.navbarClose {
  display: none;
}

/* ____________________________________________ */

.rolOpen {
  width: 50vw;
  height: 50vh;
  border: 10px turquoise solid;
  position: fixed;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.rolClose {
  display: none;
}
.navbarUnder {
  width: 50%;
  height: 50%;
  position: relative;
}

.navbarUnder img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbarButtons {
    font-size: smaller;
    width: 100%;
  }

  .navbarButtonsActivo {
    font-size: smaller;
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .navbarMobile {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 15;
    background-color: white;
    border: 1px solid black;
    z-index: 999;
  }
  .navbarMobileClose {
    display: flex;
  }
  .navbarButton {
    display: flex;
    position: fixed;
    top: 3px;
    left: 3px;
    width: 50px;
    height: 30px;
    font-size: medium;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
  }
  .navbarButtons:not(:first-of-type) {
    border-left: none;
  }
}
