.App {
  width: 97vw;
  padding: 5px;
  max-height: 97vh;
  height: 97vh;
}

.langButtonContainer {
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.langButtonEs {
  width: 30px;
  height: 30px;
  font-size: small;
  background-image: url("./images/espana.png");
  background-size: contain;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
  opacity: 50%;
}
.langButtonEsSelected {
  width: 30px;
  height: 30px;
  font-size: small;
  background-image: url("./images/espana.png");
  background-size: contain;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;

  border-radius: 50%;
}

.langButtonEn {
  width: 30px;
  height: 30px;
  font-size: small;
  background-image: url("./images/reino-unido.png");
  background-size: contain;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
  opacity: 50%;
}
.langButtonEnSelected {
  width: 30px;
  height: 30px;
  font-size: small;
  background-image: url("./images/reino-unido.png");
  background-size: contain;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;

  border-radius: 50%;
}

.mainInformationContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
}

.secondaryInformationContainer {
  display: flex;
  width: 80%;
  max-width: 800px;
  height: 90vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
